p{color: blue;}
p.cor-um{color: green;}
p.cor-dois{color: red;}
p.ab{
    color: darkblue;
    font-size: 30px;
    text-align: center;
}
p.ab:hover{
    color: purple;
    transform: scale(1.2);
    background-color: slategrey;
}