h1{
    color: blue;
    text-align: center;
    font-size: 30px;
}
h2{
    color: green;
    text-align: center;
    font-size: 30px;
}
em{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    text-underline-position: below;
    font-size: 20px;
    text-decoration: underline;
}