h1{
    font-family: Lucida Handwriting;
    text-align: center;
    color: red;
    margin: 0;
    background-color: yellow;
}
strong{
    text-decoration: underline;
}
p{
    color: blue;
    background-color: yellow;
    font-size: 20px;
    margin: 0px;
}
p.fonte{
    text-align: right;
}
img{
    float:left;
    height: 110px;
}