* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #fff6f3;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	flex-wrap: wrap;

}

header{
	background-color: #c6bebb;
	display: flex;
	/* justify-content: space-around; */
	height: 90px;
	align-items:center;
	
}

section{
	background-color: #e5d3d4;
}

.logo{
	width: 130px;
	height: 60px;
	position: relative;
	right: 65px;
}

.logo-image{
	width: 100%;
	height: 100%;
}

.cps{
	width: 90px;
	height: 65px;
	position: relative;
	left: 1200px;
	bottom: 3px;
	display: block;
}
.cps-image{
	width: 100%;
	height: 100%;

}

.governo{
	width: 200px;
	height: auto;
	position: relative;
	left: 1085px;
	bottom: 3px;
}

.governo-image{
	width: 100%;
	height: 100%;
}

nav {
	background: #bfa6a2;
	font-size: 1.0em;
	width: 100% ;
	height: 40px;
	position: sticky;
	top: 0px;
	border-style: sticky;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
}

nav ul {
	padding: 8px;
	margin: 0px 0px 0px 0px;
	font-size: 2em;
	font-weight: bolder;
	display: flex;
	
}

nav li {
	flex: 1;
	margin: 0 0 0 -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:transparent;
	text-align: start;
	
}

nav li a {
	text-decoration: none;
	color: rgb(36, 44, 52);
}
nav a:hover, a:active{
	background-color: rgb(220, 219, 219);
	border-radius: 5px;	
}

 /* img{
	width: 400px;
	padding: auto;
	display: flex;
	align-items: center;

}  */

main{
	border: 15px solid #c7b2bb;
}

article, aside {
	margin: 20px 0 20px 0;
	padding: 10px;
	flex: 1;
}

article h2{
	text-align: center;
}

article p{
	text-align: justify;
	font-size: 1.4em;
}

article ul {
	margin: 20px 0 0 0;
	font-size: 1.4em;
}

article ul li {
	margin: 0 0 10px 0;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

aside {
	background: #ffe6d6;
}

aside h2 {
	border-bottom: 5px solid #ccc;
	margin: 0 0 20px 0;
	padding: 5px;
}

aside ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
}

aside li {
	margin: 0 10px 20px 0;
	border: 5px solid #ddd;
}
