* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #fff6f3;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
}

header {
	background-color: #c6bebb;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 80px;
	justify-content: space-between;
	align-items: center;
}

section {
	background-color: #e5d3d4;
}

.cpsgov {
	display: flex;
	align-items: center;
}

.logo {
	width: 130px;
	height: 60px;
}

.logo-image {
	width: 100%;
	height: 100%;
}

.cps {
	width: 90px;
	height: 65px;
	display: block;
	justify-self: flex-end;
}

.cps-image {
	width: 100%;
	height: 100%;

}

.governo {
	width: 190px;
	height: auto;
	justify-self: flex-end;
}

.governo-image {
	width: 100%;
	height: 100%;
}

nav {
	background: #bfa6a2;
	font-size: 1.0em;
	width: 100%;
	height: 40px;
	position: sticky;
	top: 0px;
	border-style: sticky;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	z-index: 2;
}

nav ul {
	padding: 8px;
	margin: 0px 0px 0px 0px;
	font-size: 2em;
	font-weight: bolder;
	display: flex;

}

nav li {
	flex: 1;
	margin: 0 0 0 -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	text-align: start;

}

nav li a {
	text-decoration: none;
	color: rgb(8, 10, 12);
}

nav a:hover, a:active {
	background-color: rgb(220, 219, 219);
	border-radius: 5px;
}



main {
	max-width: 100%;
}

.teste {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	gap: 15px;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	padding: 20px;
}

.teste p {
	font-size: 1.4em;
}

.bloco1 {
	background-color: dodgerblue;
	font-size: 1.4em;
	line-height: 1.6;
	border: 1px solid black;
	font-size-adjust: auto;
}

.bloco2 {
	background-color: rgb(81, 214, 121);
	font-size: 1.4em;
	line-height: 1.6;
	border: 1px solid black;
	font-size-adjust: auto;
}

article {
	margin: 0 0 0 0;
	position: relative;
}

article h2 {
	text-align: center;
}

article p {
	font-size: 1.6em;
	text-align: center;
	font-size-adjust: auto;
	line-height: 1.6;
}


footer {
	background-color: #a7979e;
	padding: 1.3%;
	display: block;
}

footer div {
	font-size: 1.4em;
	text-align: center;
	font-weight: bolder;
}

/* img{
	width: 400px;
	padding: auto;
	display: flex;
	align-items: center;

}  */