p{
    line-height: 40px; /*tamanho da altura de cada linha*/
    letter-spacing: 3px; /* tamano do espaço entre cada letra*/
    word-spacing: 5px; /* tamanho do espaço entre cada palavra*/
    text-indent: 50px; /* tamanho da margem da primeira linha*/
    text-align: justify; /* alinhamento do texot */
    font-size: 35px; /* tamnho do texto*/
    font-family: arial,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* tipo de letra do texot*/
    color: blue; /* cor do texto*/
}